@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif ,;
}

/* Appliquer Montserrat à un élément spécifique */
.special-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Vous pouvez ajuster le poids de la police selon vos besoins */
}

/* Appliquer Montserrat en italique */
.italic-text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
}

@keyframes custom-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-custom-pulse {
  animation: custom-pulse 5s infinite; /* Durée de 3 secondes */
}